*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{

    background-color:#005883;

}

header{
    width: 100%;
    height: 60px;
    background: black;
}


.container{

width: 950px;
margin:auto;
margin-top: 60;
background: url(img/fondo.jpg);
}




.navegacion ul {
    list-style: none;
    
} 

.menu > li{
    position: relative;
    display: inline-block;
    margin: 0px;
}

    


.navegacion ul li a {
    height:33px;
    display: block;
    float: left;
    padding: 17px 15px 0 70px;
    font: bold 12px Arial;
    color: #FFF;
    text-decoration: none;
    
} 

.navegacion ul li a:hover {
    color:#3B3B3B;
    background: url(img/navigation-hover.png) repeat-x left top;
}

.navegacion ul li#active a {
    color:#3B3B3B;
    background: url(img/navigation-hover.png) repeat-x left top;
}


.submenu{
    position: absolute;
    background: #333333;
    width: 120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 50px;
    color: #fff;
    font-family: 'Open sans';
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}



/*Portada*/



.container-portada{
    width: 100%;
    height: 300px;
    position: relative;
    background-image: url(../image/portada.jpg);
    background-size: 200%;
    animation: movimiento 20s infinite linear alternate;  
}

@keyframes movimiento{
    from{
        background-position: bottom left;
    }
    to{
        background-position: top right;
    }
}


.capa-gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left, black, #0672d0);
    opacity: 0.5;
}

.container-details{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: auto;
}


.details{
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 20px;
    color: white;
}

.details h1{
    font-size: 40px;
    font-weight: 100;
    margin-left: 10px;
}

.details p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
    color:white;
}

.details button{
    padding: 10px 20px;
    font-size: 16px;
    background: none;
    border-style: none;
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    transition: background 300ms;
    cursor: pointer;
    margin-left: 10px;
}

.details button:hover{
    background: white;
    color: black;
}



@media screen and (max-width: 500px){
    .details p{
        font-size: 18px;
    }
}

article h1{
    font-size: 70px;
    font-weight: 150;
    margin-left: 10px;

}



section{

    width: 750px;
    height: 435px;
    margin-top: 10px;
    background:#f0b429;
    float:left;
}

#cajas{
  margin-top:20px;
}

#cajas .caja{
  float:left;
  text-align: center;
  width:30%;
  padding:10px;
}

#cajas .caja img{
  width:90px;
}

aside{

    width: 185px;
    height: 370px;
    margin-top: 10px;
    margin-bottom: 15px;
    background: white;
    float: left;
    margin-left: 15px;
    box-shadow: 0px 5px #000000;

}



aside:nth-of-type(1)
{

height:50px;

}

footer{

clear: both;
width: 950px;
height: 50px;
margin-bottom: 15px;
text-align: center;
line-height: 50px;
background-color:#0093C6;
}














